<div class="card">
    <div class="card-header">
        <div class="col-xs-8">
            <p>Leeds, UK</p>
        </div>
        <div class="col-xs-4 text-xs-right">
            <h1>3&deg;</h1>
        </div>
    </div>
    <div class="card-block">
        <h1>0</h1>
        <p>Rain</p>
    </div>
    <div class="card-footer">
        <div class="col-xs-5">
            <p>Wind</p>
            <p>14mph</p>
        </div>
        <div class="col-xs-5 offset-xs-2">
            <p>Humidity</p>
            <p>80%</p>
        </div>
    </div>
</div>